@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@500&display=swap');
@font-face {
    font-family: myFont;
    /* src: url(Starlord\ Italic.ttf); */
    src:url("../assets/starlord-font/Starlord.ttf");
}
/* body{
    width: 100vw;
} */
#logo-img {
    /* padding-top: 2px; */
    margin-top: -10px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
    position: sticky;
    z-index: 2;
    top: 0;
    padding-left:5px;
    padding-right:5px;
    border-bottom: 3px solid green;
    background-color: white;
}

#title {
font-family: myFont;
    /* color: #42ac52; */
    /* margin-top: 2px; */
    color: #04390c;
    text-shadow: 2px 4px 4px #63e476a8;
    letter-spacing: 1px;
    margin-left: -25px;
    padding-top: 8px;
 }


#nav > .link {
    /* padding-top: 15px; */
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 15px 10px;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'PT Serif',
            serif;   
            font-size: 1.2rem;
    
}

#nav > .link:hover {
    background-color: rgb(207, 234, 207);
    color: darkgreen;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

#left-section {
    margin-top: 5px;
}

#Login {
    color:white;
    background-color: black;
    border: none;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 25px;
        font-family: 'PT Serif',
                serif;
    top:35px;
    right:25px;
}

#Login:hover {
       color: rgb(0, 0, 0);
       background-color: white;
       transition: 0.3s;
       border : solid 2px lightgrey;
}