@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Playfair+Display&family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap');
 /* font-family: 'Calistoga',
 cursive; */
 /* font-family: 'Playfair Display',
 serif; */
/* dark rgb(18, 89, 0) light rgb(149, 219, 132) */
.head h1{
    font-family: 'Calistoga', cursive;
        font-size: 4rem;
        padding-top: 50px;
        /* color: rgb(0, 0, 0); */
        /* background-color: rgb(149,219,132); */
        margin-top: calc(0.05*100%);
    }
    .imp_para{
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        font-weight: 900;
    }
    .main{
        color:black;
        background-color: rgb(149,219,132);
        
        padding-bottom: 45px;
}